{% extends 'layjq.html' %}
{% block content %}
    <h2>Entry for {{whom}} </h2>

    <form action="{% url "entry-edit" pk=entry.id %}" method="POST">
        {% csrf_token %}
<style>
textarea { vertical-align: top; }
</style>
        <ul>
            {{ form.as_ul }}
        </ul>
        <input id="save_entry" type="submit" value="Save" />
    </form>

    {% if entry.id %}
    <a href="{% url "delete-entry" pk=entry.id %}">Delete</a>
    {% endif %}

    <p> </p>

    <a href="{% url "dashboard" %}">Cancel</a>
{% endblock %}
