{% extends 'layjq.html' %}
{% block content %}
    <h2>Entry for {{whom}} </h2>
    {% if stat = 'E' %}
        <h3> Already exported - no edits can be saved </h3>
    {% endif %}

    <form action="{% url "entry-edit" pk=entry.id %}" method="POST">
        {% csrf_token %}
<style>
textarea { vertical-align: top; }
</style>
        <ul>
            {{ form.as_ul }}
        </ul>
    {% if stat != 'E' %}
        <input id="save_entry" type="submit" value="Save" />
    {% endif %}
    </form>

    {% if stat != 'E' %}
        <center>
        <a href="{% url "delete-entry" pk=entry.id %}">Delete</a>
        </center>
    {% endif %}

    <p> </p>

    {% if stat != 'E' %}
        <a href="{% url "dashboard" %}">Exit without saving</a>
    {% else %}
        <input type=button value="Return" onClick="window.history.back();return false;" />
    {% endif %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript">
( function($) {
    $(document).ready(function() {
        ddate = document.getElementById('datepicker').value;
        $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: ddate
            });
    });
})(jQuery || django.jQuery);
</script>

<script language="JavaScript">
function doFirst() {
    document.getElementById('id_matter_keyin').size = "14";
}
</script>

<script language="JavaScript">
function matkey(source) {
    var mks = "";
    var len = 0;
    var casek = "";
    var clientk = "";
    var comp = "";
    var found = "not";
    var mlist = "{{matterlist}}";
    mks = document.getElementById('id_matter_keyin').value;
    len = mks.length;
    comp = document.getElementById('id_company').value;
    if (comp == "" && len > 0) {
        numnames = "Select company before entering matter";
    }
    else {
        numnames = "                                                ";
        if (len > 0) {
            dq=mks.substr(5,1);
            if ( dq == '-' ) {
                mks=mks.substr(0,5) + mks.substr(6);
            }
            find = comp + mks + " ";
            p = mlist.indexOf(find);
            if ( p > -1 ) {
                found = mlist.substr(p+13);
                p = found.indexOf("|");
                numnames = found.substr(0,p-0);
                document.getElementById('id_matter_keyin').size = "14";
            }
            else {
                document.getElementById('id_matter_keyin').size = "14";
            }
        }
        else {
            numnames = "Type a client-case number to change client & case";
            document.getElementById('id_matter_keyin').size = "14";
        }
    }
    document.getElementsByClassName('helptext')[0].textContent = numnames;
}
</script>

<script language="JavaScript">
function setinc(source) {
    var comp = "";
    comp = document.getElementById('id_company').value;
    if (comp == "CO") {
        document.getElementById('id_hours').step = "0.01";
    }
    else {
        document.getElementById('id_hours').step = "0.1";
    }
}
</script>

{% endblock %}
