{% extends 'layout.html' %}
{% block content %}
    
    <h2>{{ entry }}</h2>

    <p>Timekeeper:  {{ entry.who }} </p>
    <p>Work Date:  {{ entry.work_date }} </p>
    <p>Company:  {{ entry.company }} </p>
    <p>Matter:  {{ entry.matter }} </p>
    <p>#Hours:  {{ entry.hours }} </p>
    <p>Description:  {{ entry.narrative }} </p>
    <p>Act Code 1:  {{ entry.activity_code1 }} </p>
    <p>Act Code 2:  {{ entry.activity_code2 }} </p>
    <p>Status:  {{ entry.status }} </p>
   <p> </p>

    <input type=button value="Return to list" onClick="window.history.back();return false;" />

{% endblock %}
