{% extends 'layjq.html' %}
{% block content %}
{% load staticfiles %}
    <h2>Entry for {{whom}} </h2>

    <form action="{% url "make-entry" %}" method="POST" >
        {% csrf_token %}
<style>
textarea { vertical-align: top; }
</style>

        <ul>
            {{ form.as_ul }}
        </ul>
        <input id="save_entry" type="submit" value="Save" />
    </form>

    <center>
    <a href="{% url "dashboard" %}">Exit without saving</a>
    </center>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        ddate = document.getElementById('datepicker').value;
        $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: ddate
            });
    });
})(jQuery || django.jQuery);
</script>

<script language="JavaScript">
function doFirst() {
    document.getElementById('id_matter_keyin').size = "14";
}
</script>

<script language="JavaScript">
function recent(source) {
    var rfs = "";
    var len = 0;
    var casev = "";
    var clientv = "";
    var compv = "";
    rfs = document.getElementById('id_recent_files').value;
    len = rfs.length;
    casev = rfs.substr(len-11);
    compv = casev.substr(0,2);
    if (len > 0) {
        document.getElementById('id_company').value = compv;
        document.getElementById('id_company').disabled = true;
        document.getElementById('id_matter_keyin').value = '';
        document.getElementById('id_matter_keyin').disabled = true;
        document.getElementById('id_matter_keyin').size = "14";
        document.getElementsByClassName('helptext')[1].textContent = " ";
        document.getElementsByClassName('helptext')[0].textContent = "Clear selection to access company, client & case";
        document.getElementById('id_client').value = 'undefined';
        document.getElementById('id_client').disabled = true;
        document.getElementById('id_case').value = 'undefined';
        document.getElementById('id_case').disabled = true;
    }
    else {
        document.getElementById('id_company').disabled = false;
        document.getElementById('id_matter_keyin').disabled = false;
        document.getElementById('id_matter_keyin').size = "14";
        document.getElementsByClassName('helptext')[1].textContent = "Type a client-case number to override client and case";
        document.getElementsByClassName('helptext')[0].textContent = "Select a recent file to override company, client & case";
        document.getElementById('id_client').disabled = false;
        document.getElementById('id_case').disabled = false;
    }
}
</script>

<script language="JavaScript">
function matkey(source) {
    var mks = "";
    var len = 0;
    var casek = "";
    var clientk = "";
    var comp = "";
    var found = "not";
    var mlist = "{{matterlist}}";
    mks = document.getElementById('id_matter_keyin').value;
    len = mks.length;
    comp = document.getElementById('id_company').value;
    if (comp == "" && len > 0) {
        numnames = "Select company before entering matter";
    }
    else {
        numnames = "                                                ";
        if (len > 0) {
            dq=mks.substr(5,1);
            if ( dq == '-' ) {
                mks=mks.substr(0,5) + mks.substr(6);
            }
            find = comp + mks + " ";
            p = mlist.indexOf(find);
            if ( p > -1 ) {
                found = mlist.substr(p+13);
                p = found.indexOf("|");
                numnames = found.substr(0,p-0);
                document.getElementById('id_client').value = 'undefined';
                document.getElementById('id_client').disabled = true;
                document.getElementById('id_case').value = 'undefined';
                document.getElementById('id_case').disabled = true;
                document.getElementById('id_matter_keyin').size = "14";
            }
            else {
                document.getElementById('id_client').disabled = false;
                document.getElementById('id_case').disabled = false;
                document.getElementById('id_matter_keyin').size = "14";
            }
        }
        else {
            numnames = "Type a client-case number to override client and case";
            document.getElementById('id_client').disabled = false;
            document.getElementById('id_case').disabled = false;
            document.getElementById('id_matter_keyin').size = "14";
        }
    }
    document.getElementsByClassName('helptext')[1].textContent = numnames;
}
</script>

<script language="JavaScript">
function setinc(source) {
    var comp = "";
    comp = document.getElementById('id_company').value;
    if (comp == "CO") {
        document.getElementById('id_hours').step = "0.01";
    }
    else {
        document.getElementById('id_hours').step = "0.1";
    }
}
</script>

{% endblock %}
