{% extends 'layout.html' %}
{% block content %}
    <h2>Time for {{ whom }} </h2>

    <ul>
        {% for entry in object_list %}
            <li class="entry">
                <a href="{{ entry.get_absolute_url }}">{{ entry }}</a> 
                (<a href="{% url "entry-edit" pk=entry.id %}">edit</a>)
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary btn-md" href="{% url "make-entry" %}" role="button">New Entry</a>
    <a class="btn btn-primary btn-md" href="{% url "dashboard" %}" role="button">Release Time</a>
    <a class="btn btn-primary btn-md" href="{% url "index" %}" role="button">Exit</a>

{% endblock %}
