{% extends 'layout.html' %}
{% block content %}
      </div>
            <div class="col-sm-offset-2 col-sm-10">
                  <h3> Time Administration</h3>
             {% if user.is_staff %}
                        <a class="btn btn-primary btn-lg" href="updateval" role="button">Import Validation</a>
             {% endif %}
             {% if user.is_staff %}
                        <a class="btn btn-primary btn-lg" href="exporttime" role="button">Export Time</a>
             {% endif %}
                        <a class="btn btn-primary btn-lg" href="/" role="button">Exit</a>
            </div>
      </div>

{% endblock %}
