{% extends 'layout.html' %}
{% block content %}
</div>
      <div class="col-sm-offset-2 col-sm-10">
          <h2> Validation update </h2>
          <h3> ** Click START button to launch process ** </h3>
          <h3> ** Wait for EXIT button at end of update ** </h3>
          <h3> ( May take a couple minutes to complete )  </h3>
          <h4> -------------------------------------------------------------------------  </h4>
          <a class="btn btn-primary btn-md" href="/timeadmin/updateval" role="button">START</a>
          <a class="btn btn-primary btn-md" href="/timeadmin" role="button">Cancel</a>
      </div>
</div>

{% endblock %}
